Repository mahito1594/todomvc-react-router-v7: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm run check:type

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat(renovate): add custom manager for biome
  renovate.json
Due: check

feat(renovate): group all but witout major update
  renovate.json
Due: check

chore(deps): execute `pnpm audit fix`
  package.json
  pnpm-lock.yaml
Due: check

fix(type): fix type errors (add unstable_pattern property)
  test/routes/$id.test.tsx
  test/routes/bulk.test.tsx
  test/routes/index.test.tsx
Due: check, type-check

fix: fix lint errors
  app/app.css
  app/components/footer.tsx
  app/root.tsx
  app/routes.ts
  biome.json
  test/app/components/todoListItem.test.tsx
  test/routes/$id.test.tsx
  test/routes/bulk.test.tsx
  test/routes/index.test.tsx
Due: check, type-check

chore(ci): add lint/typecheck
  .github/workflows/github-pages.yml
  .github/workflows/test.yml
Due: none

fix: dependabot alert (#178)
  .github/workflows/github-pages.yml
  .github/workflows/test.yml
  app/app.css
  app/components/footer.tsx
  app/root.tsx
  app/routes.ts
  biome.json
  package.json
  pnpm-lock.yaml
  test/app/components/todoListItem.test.tsx
  test/routes/$id.test.tsx
  test/routes/bulk.test.tsx
  test/routes/index.test.tsx
Due: check, type-check

fix: adapt to react-router v7.14.0 breaking changes
  package.json
  pnpm-lock.yaml
  test/routes/$id.test.tsx
  test/routes/bulk.test.tsx
  test/routes/index.test.tsx
  vite.config.ts
Due: check, type-check

style: fix descending specificity in CSS selectors
  app/app.css
Due: none

fix: migrate tsconfig for TypeScript 6 compatibility
  react-router.config.ts
  tsconfig.json
Due: check, type-check

fix(tests): adapt createActionArgs to react-router v7.15.0 API
  test/routes/$id.test.tsx
  test/routes/bulk.test.tsx
  test/routes/index.test.tsx
Due: check, type-check

chore(pnpm-workspace): add esbuild & lefthook to pnpm-workspace.yaml#allowBuilds
  pnpm-workspace.yaml
Due: none

chore(renovate): align npm updates with release age policy
  renovate.json
Due: check

chore(renovate): align npm updates with release age policy (#228)
  renovate.json
Due: check
