Repository mahito1594/todomvc-react-router-v7: changes, and which lefthook commands are due for each by the changed paths.
All: check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}

    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm run check:type

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit {1}

feat!: enable SPA mode
  app/root.tsx
  app/routes.ts
  app/routes/home.tsx
  app/routes/index.tsx
  app/welcome/logo-dark.svg
  app/welcome/logo-light.svg
  app/welcome/welcome.tsx
  public/favicon.ico
  react-router.config.ts
Due: check, type-check

chore: add LICENSE
  LICENSE
  package.json
Due: check

style: remove tailwind and add todomvc's style
  app/app.css
  app/root.tsx
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: check, type-check

style: remove sidebar
  app/root.tsx
Due: check, type-check

feat: modify title & check complete
  app/components/header.tsx
  app/components/todoList.tsx
  app/components/todoListItem.tsx
  app/data/todoRepository.client.ts
  app/data/validate.client.ts
  app/routes.ts
  app/routes/$id.tsx
  app/routes/index.tsx
  package.json
  pnpm-lock.yaml
Due: check, type-check

style: use p tag instead of label tag
  app/app.css
Due: none

chore: modify basename
  package.json
  react-router.config.ts
  vite.config.ts
Due: check, type-check

feat: add workflow for deploying to GitHub Pages
  .github/workflows/github-pages.yml
Due: none

fix: fix type
  .github/workflows/github-pages.yml
Due: none

chore: fix typo & remove unused dependency
  .github/workflows/github-pages.yml
  package.json
  pnpm-lock.yaml
Due: check

feat: delete a todo
  app/routes/$id.tsx
Due: check, type-check

feat: create new todo
  app/components/header.tsx
  app/data/todoRepository.client.ts
  app/routes/index.tsx
Due: check, type-check

chore: use fetcher.Form instead of fetcher
  app/components/header.tsx
  app/components/todoListItem.tsx
  app/routes/index.tsx
Due: check, type-check

refactor: clear input after submit new todo
  app/components/header.tsx
Due: check, type-check

refactor: use handler methods instead
  app/components/header.tsx
  app/routes/$id.tsx
  app/routes/index.tsx
Due: check, type-check

feat: add footer
  app/components/footer.tsx
  app/routes/index.tsx
Due: check, type-check

feat: add filter by todo.completed
  app/components/todoList.tsx
Due: check, type-check

feat: toggle todo.completed
  app/components/todoList.tsx
  app/data/validate.client.ts
  app/routes.ts
  app/routes/bulk.tsx
Due: check, type-check

feat: clear all completed todos
  app/components/footer.tsx
  app/data/validate.client.ts
  app/routes/bulk.tsx
Due: check, type-check

style: use button instead LinkNav
  app/app.css
  app/components/footer.tsx
Due: check, type-check

chore: remove dummy data
  app/data/todoRepository.client.ts
Due: check, type-check

feat: persist todo items by using localStorage
  app/data/todoRepository.client.ts
  app/routes/bulk.tsx
Due: check, type-check

docs: update README
  README.md
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: check

chore: update pnpm version
  package.json
Due: check

test: add test deps and config
  package.json
  pnpm-lock.yaml
  test/setup.ts
  tsconfig.json
  vite.config.ts
Due: check, type-check

test: add component tests
  app/components/todoList.tsx
  app/components/todoListItem.tsx
  test/app/components/footer.test.tsx
  test/app/components/header.test.tsx
  test/app/components/todoList.test.tsx
  test/app/components/todoListItem.test.tsx
Due: check, type-check

test: add data tests
  test/app/data/todoRepository.client.test.ts
  test/app/data/validate.client.test.ts
  test/setup.ts
Due: check, type-check

feat(ci): run test and post coverage on pull requests
  .editorconfig
  .github/workflows/test.yml
  vite.config.ts
Due: check, type-check

feat(test): add test for routes w/o component
  test/routes/$id.test.tsx
  test/routes/bulk.test.tsx
  test/routes/index.test.tsx
Due: check, type-check

feat(renovate): allo automerge not for major update
  renovate.json
Due: check

feat(renovate): group all but witout major update
  renovate.json
Due: check
